.metro .panel-header {
    padding: .625rem 10px;
    color: #ffffff;
    background-color: #000066;
    cursor: default;
    vertical-align: middle;
    z-index: 2;
    height: 2.625rem;
    box-shadow: -1px 6px 6px -6px rgba(0, 0, 0, 0.35);
    font: 500 1.125rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    text-transform: capitalize;
    font-family: "Segoe UI Light","Open Sans Light";
}

.metro .border {
    border: 1px solid #000;
}

.metro .text-center {
    text-align: center !important;
}

.metr h1.text-center {
}







.dialog {
    /*max-width: ~"calc(100% - 20px)";
    max-height: ~"calc(100% - 20px)";*/
    height: auto;
    width: auto;
    margin: auto;
    left: 0px;
    right: 0px;
    width: auto;
    height: auto;
    display: table;
    top: 0;
    bottom: 0;
    /*    text-align: center;*/
}

    .dialog .grid {
        padding: 0px 0px;
        margin: 0 auto;
        list-style: none;
        -webkit-overflow-scrolling: touch;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }

    .dialog.window-style {
        width: 100% !important;
    }

.form-actions.page-content.align-right {
    padding-right: 0 !important;
}

.margin5R {
    margin-right: 5px;
}

.metro .no-visible {
    height: 0;
    height: 0;
    border: none;
    padding: 0;
}

.page-content {
    padding-top: 0;
    padding-left: 10px;
}

input[type="submit"]:disabled, input[type="button"].disabled, input[type="reset"].disabled, input[type="submit"].disabled {
    background-color: #eaeaea !important;
    color: #bebebe !important;
    cursor: default !important;
    border-color: transparent !important;
    text-shadow: none !important;
}

.metro .dcmx.button {
    font-size: 30px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    padding-top: 15px;
    opacity: .8;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .metro .dcmx.button:hover {
        opacity: 1;
    }

.metro .button.primary.dcmx {
    padding-left: 13px;
    padding-top: 12px;
}
#liveclock {

}